h1{
    text-align: center;
    width: 75%;
    height:10px;
    font-size: 30px;
    background-color: green;
    border-style: dashed;
    margin: 15px;
    display: inline-block;
    padding: 10%;
}
.imgs{
    font-size: 15px;
    margin: 55px;
    display: flex;
    padding: 2%; 
}
.para{
    font-size: 15px;
    margin: 2px;
    display: flex;
    padding: 1%; 
}